*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.wrapper {
    background: linear-gradient(45deg, #ff9090, #ff5959);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* TOP BAR */
.top-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 0.6rem 1.5rem;
    border-radius: 1rem;
}

.instructions {
    color: black;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

/* BUTTON */
.btn {
    color: black;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-weight: bold;
}

/* GAME BOARD (UNCHANGED STRUCTURE) */
.gameBox {
    width: 90%;
    max-width: 20rem;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1 / 1;
}

.box {
    width: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    font-size: 3rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.box1,
.box2,
.box4,
.box5 {
    border-right: 2px solid rgb(255 73 73);
    border-bottom: 2px solid rgb(255 73 73);
}

.box3,
.box6 {
    border-bottom: 2px solid rgb(255 73 73);
}

.box7,
.box8 {
    border-right: 2px solid rgb(255 73 73);
}

.winner {
    background-color: greenyellow;
}


/* TOGGLE POSITION */
.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    font-size: 0.9rem;
    font-weight: bold;
}

/* SWITCH STYLE */
.switch {
    position: relative;
    width: 45px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* SLIDER */
.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 34px;
    inset: 0;
    transition: 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked+.slider {
    background-color: #333;
}

input:checked+.slider::before {
    transform: translateX(22px);
}