*,*::before,*::after{
    margin: 0;
    padding: 0;
    font-family: 'pppins', 'sans-serif';
}

.wrapper{
    background: linear-gradient(45deg, #ff9090,#ff5959);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}

.instructions{
    color: white;
    position: absolute;
    top: 1rem;
    /* transform: translateX(-50%); */
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    /* border: 1px solid red; */
    padding: 0.5rem 3rem;
    /* text-align: center; */
}

.gameBox{
    width: 90%;
    max-width: 20rem;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    /* border: 1px solid red; */
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    aspect-ratio: 1/1;
}

.box{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1, .box2, .box4, .box5{
    border-right: 2px solid rgb(255 73 73);
    border-bottom: 2px solid rgb(255 73 73);
}

.box3, .box6{
    border-bottom: 2px solid rgb(255 73 73);
}

.box7, .box8{
    border-right: 2px solid rgb(255 73 73);
}

.btn{
    color: white;
    /* position: absolute;
    bottom: 3rem;
    left: 50%; */
    transform: translateX(-50%);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 0px;
    padding: 0.5rem 2rem;
    /* display: none; */
}

.btn:active{
    display: flex;
}

.winner{
    background-color: greenyellow;
}